<div id="content-header">
    <h1>广告屏管理</h1>
</div>
<div id="breadcrumb">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
    <a href="#/screen">广告屏管理</a>
    <a href="#/ad-report" class="current">广告投放报表</a>
</div>
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th-list"></i></span>
            <h5>广告投放报表</h5>
        </div>
        <div class="widget-content nopadding">
        </div>
    </div>
</div>
