<div id="content-header">
    <h1>广告屏管理</h1>
</div>
<div id="breadcrumb">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
    <a href="#/screen">广告屏管理</a>
    <a href="#/screen-ad" class="current">广告</a>
</div>
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th-list"></i></span>
            <h5>基本信息</h5>
        </div>
        <div class="widget-content">
            <div class="row">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label">广告位置：</label>
                    <div class="controls">
                      <select ng-model="current.item.slotType" 
                        ng-options="item.name as item.description for item in types.slot" ng-change="setMaterielTypes();">
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">物料类型：</label>
                    <div class="controls">
                      <select id="materielType" ng-model="current.item.materielType"
                        ng-options="item.name as item.description for item in types.materiel">
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">广告主题：</label>
                    <div class="controls">
                        <input type="text" ng-model="current.item.title" class="span5" />
                    </div>
                  </div>
                  <div class="control-group" ng-if="current.item.slotType !== 'scroll'">
                    <label class="control-label">上传物料：</label>
                    <div class="controls">
                      <div class="fileupload-buttonbar" data-auto-upload="true" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                        <input type="text" ng-model="current.item.path" class="file span5" />
                        <span class="btn btn-success fileinput-button">
                          <i class="icon-plus icon-white"></i><span>上传</span>
                          <input type="file" name="files[]" />
                        </span>
                        <!-- The global progress state -->
                        <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                            <!-- The extended global progress state -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th-list"></i></span>
            <h5>投放策略</h5>
        </div>
        <div class="widget-content nopadding">
          <div class="row">
            <form class="form-horizontal">
              <div class="span12">
                <div class="control-group">
                  <label class="control-label">投放目标：</label>
                  <div class="controls" checkboxs ng-model="current.item.screens"></div>
                </div>
              </div>
              <div class="span6">
                <div class="control-group">
                  <label class="control-label">开始投放：</label>
                  <div class="controls">
                    <input datetimepicker readonly ng-model="current.item.start" type="text" class="span3" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">结束投放：</label>
                  <div class="controls">
                      <input datetimepicker readonly ng-model="current.item.end" type="text" class="span3" />
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <label class="checkbox"><input type="checkbox" ng-model="current.item.active" ng-true-value="1" ng-false-value="0"> 激活状态</label>
                    <button class="btn" ng-click="submitEdit();">确认</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>