<div id="content-header">
    <h1>广告屏管理</h1>
</div>
<div id="breadcrumb">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
    <a href="#/screen">广告屏管理</a>
    <a href="#/screen-ad" class="current">广告</a>
</div>
<div class="container-fluid">
    <div class="row-fluid" ng-controller="ScreenAdFilterController">
        <form action="#/screen-ad" method="get" class="form-inline">
            <label>终端分组：</label>
            <select ng-model="screenFilters.group" ng-options="item.id as item.title for item in screenGroups" ng-change="setGroupScreens();"></select>
            <label>广告终端：</label>
            <select ng-model="adFilters.adScreen" ng-options="item.id as item.title for item in groupScreens"></select>
            <label class="checkbox"><input type="checkbox" ng-checked="true" ng-model="adFilters.active" ng-true-value="1" ng-false-value="0"> 激活状态</label>
            <button>查询</button>
        </form>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th-list"></i></span>
            <h5>广告屏广告</h5>
        </div>
        <div class="widget-content nopadding">
            <table id="adsTable" options="getGridOptions();" jq-grid url="http://127.0.0.1:8341/ad-screen/api/screen-ads" datatype="json" pager="#adsPager" caption="广告屏投放的广告列表" class="table table-bordered data-table"></table>  
            <div id="adsPager"></div>
        </div>
    </div>
</div>
